* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-image: url('../img/consulta.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.355);

    border-radius: 10px;
    width: 80%;
    height: 40vh;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 50px rgb(11, 66, 53);
    margin-top: 10%;
}

h2 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #000;
}

td {
    padding: 10px;
    text-align: center;
    height: 10px;
    background-color: #8c8c8c;
}



th {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn {
    border-radius: 10px;
    padding: 8px 15px;
    margin: 2px;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

.edit-btn {
    background-color: #007bff;
}

.delete-btn {
    background-color: #dc3545;
}
.delete-btn:hover {
    background-color: #c42434;
}

.edit-btn:hover {
    background-color: #0264cd;
}

.menu-button {
    border-radius: 5px;
    padding: 8px 15px;
    margin:2px;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #3a3a3a; /* Cambiamos el color de fondo al hacer hover */
    left: 20px; /* Movemos el botón a la derecha al hacer hover */
}


.menu-button:hover{
    background-color: #131313;
}

.btn-container {
    display: flex; /* Usa flexbox para alinear elementos en línea */
}