@import url('https://fonts.cdnfonts.com/css/copperplate');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos generales */
body {
    
    background-image: url('../img/fondo_crear.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
    
}

.vehiculo-form{
    background-color: rgba(213, 213, 213, 0.822);
    border-radius: 10px;
    width: 30%;
    
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 5vw;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
    font-size: 30px;
}
form {
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    width: 50%;
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 4px;
}

.btn {
    border-radius: 5px;
    padding: 8px 15px;
    margin: 2px;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.add-btn {
    background-color: #28a745;
}

.add-btn:hover {
    background-color: #23873a;
}

.cancel-btn {
    background-color: #8f0303;
}

.cancel-btn:hover {
    background-color: #580202;
}