@import url('https://fonts.cdnfonts.com/css/copperplate');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../img/fondo_index.jpg');
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
}

.tabla-vehiculo{
    background-color: rgba(18, 18, 18, 0.65);
    border-radius: 10px;
    
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 5%;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
    font-size: 30px;
    color: #ffffff;
}

table{
    width: 100%;
    border-collapse: collapse;
}


th {
    background-color: #000;
    color: #fff;
    font-size: 18px
    
    

}
 tr{
    height: 50px;
    text-align: center;
    background-color: rgb(175, 175, 175);  
 }

 table, th, td {
    border: 1px solid #000;
}

th, td {
    padding: 10px;
    text-align: center;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}
.btn {
    border-radius: 5px;
    padding: 8px 15px;
    margin: 2px;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

}

.consult-btn{
    background-color: #007bff;
}
.consult-btn:hover{
    background-color: #0654a6;
    
}

.create-btn{
    background-color: #28a745;
}
.create-btn:hover{
    background-color: #1c7d33;
}

.menu-button{
    border-radius: 5px;
    padding: 8px 15px;
    margin: 10px;
    color: #000000;
    background-color: #e4e4e4;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.menu-button:hover{
    background-color: #b1b1b1;
}