@import url('https://fonts.cdnfonts.com/css/copperplate');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../img/fondo_consulta.jpg');
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    background-color: rgba(94, 94, 94, 0.66);
    /* background-color: #c2c2c2a9; */
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 10%;
}

h2 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
    text-align: center;
    margin-bottom: 20px;

    padding: 10px;
    font-size: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #000;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #000;
    color: #fff;
}
tr {
    background-color: #757575;
    color: #fff;
}
tr:nth-child(even) {
    background-color: #979797;
    color: #000;
}

.btn {
    border-radius: 5px;
    padding: 8px 15px;
    margin: 2px;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

.edit-btn {
    background-color: #007bff;
}

.delete-btn {
    background-color: #dc3545;
}
.delete-btn:hover {
    background-color: #c42434;
}

.edit-btn:hover {
    background-color: #0264cd;
}

.menu-button {
    border-radius: 5px;
    padding: 8px 15px;
    margin: 10px;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #3a3a3a; /* Cambiamos el color de fondo al hacer hover */
    left: 20px; /* Movemos el botón a la derecha al hacer hover */
}


.menu-button:hover{
    background-color: #131313;
}